.footer {
    width: 100%;
}

.footer__sectionMenu {
    --footerSectionMenuConturHeight: 2px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    /* background-color: red; */
}

.footer__sectionMenu::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: var(--footerSectionMenuConturHeight);
    background-color: var(--colorTimberwolf);
}

.footer__sectionMenu::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: var(--footerSectionMenuConturHeight);
    background-color: var(--colorTimberwolf);
}

.footer__sectionMenu__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer__sectionMenu__menu__item {
    list-style: none;
}

.footer__sectionMenu__menu__item a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.footer__sectionMenu__menu__item a:hover {
    color: #929292;
}

@media (max-width: 1270px) {
    .footer__content {
        justify-content: space-evenly !important;
    }
}

@media (max-width: 800px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__content__item:last-child {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 510px) {
    .footer__sectionMenu__menu {
        gap: 5rem;
    }
}

@media (max-width: 415px) {
    .footer__sectionMenu__menu {
        gap: 2rem;
    }
}