.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSection__form {
  position: relative;
  width: 120rem;
  height: 50vh;
}

.formSection__form__formContent {
  padding: 2rem;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formSection__form__formContent__title {
  font-size: 4rem;
  line-height: 4rem;
  width: 60%;
  color: var(--colorCharcoal);
  font-family: "";
}

.formSection__form__formContent__input {
  padding: 1rem 2rem;
  width: 75%;
}

.formSection__form__formContent__policy {
  display: flex;
  align-items: center;
  gap: 5px;
}

.formSection__form__formContent__submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--colorRaisinBlack);
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
}

.formSection__form__formImage {
  z-index: -100;
  margin-bottom: 40rem;
  position: relative;
  width: 100%;
  height: 100%;

  /* overflow: hidden; */
  img {
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    height:100%;
  }

  img:first-child {
    width: 100%;
    height: 100%;
  }

  img:last-child {
    width: 100%;
    height: 100%;
    left: 20%;
  }
}
